certifi==2024.2.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
charset-normalizer==3.3.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
idna==3.6 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
kfsconfig==1.1.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
kfsfstr==1.1.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
kfslog==1.1.1 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
kfsmath==1.0.1 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
kfsmedia==2.5.1 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
olefile==0.47 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
pebble==5.0.6 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
pillow==10.2.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
requests==2.31.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
urllib3==2.2.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
